# Export models
export(dominanceDecay, dominancePreemp, MacArthurFraction, powerFraction, randAssort, randFraction)

# Export fitting function
export(fitmodel, fitmodelCl, findPFw)

# Export Classes
exportClasses(fittedmodel)

# Export methods
exportMethods(plot, lines, qqplot, summary, show)